$main-font1: 'Josefin Sans';
$main-font2: 'Aleo';
$main-font-style:normal;

.container1 {
  width:100%;
  max-width: 1770px;
  height:100%;
  min-height: 820px;
  background-image: url(../images/image1.png);
  display: flex;
  align-items: center;
  justify-content:center ;
  flex-direction: column;
}

.heading {
    font-family: $main-font1;
    font-style: $main-font-style;
    font-weight: 700;
    font-size: 48px;
    line-height: 26px;
    letter-spacing: 4.8px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 30px;
}

form{
    background-color: white;
    width: 653px;
    height: 63px;
    display: flex;
}

input {
    flex:1;
     border: none;
     outline: none;
    }
    
button {
    background-color:rgb(44, 44, 160);
    padding: 10px 50px;
    border:white;
    outline: none;
    letter-spacing: 1px;
    cursor: pointer;
    margin: 1px;
    color: white;
}

.container2 {
    width:100%;
    max-width: 1770px;
    min-height: 80px;
    background: #5474FD;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
}

.listed {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    word-break: normal;
}

.header{
    width: 186px;
    height: 20px;
    left: 321px;
    top: 770px;
    font-family:$main-font1;
    font-style: $main-font-style;
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.list{
    padding: 10px;
    width: 126px;
    height: 26px;
    font-family: 'Aleo';
    font-style: $main-font-style;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.container3 {
    width:100%;
    max-width: 1773px;
    height:100%;
    min-height: 340px;
    background: #333333;
}

.arc {
    display: flex;

    align-items: center;
}
.box {
    margin-top: 50px;
    width: 777px;
    height: 95px;
    background: rgba(0, 0, 0, 0.0001);
    mix-blend-mode: normal;
    opacity: 0.5;
    border: solid 5px #000;
    border-color: #000 transparent transparent transparent;
    border-radius:50px
  }