$main-font1: 'Josefin Sans';
$main-font2: 'Aleo';
$main-font-style:normal;

.container1 {
  width:100%;
  max-width: 1770px;
  height:100%;
  min-height: 820px;
  background-image: url(../images/image1.png);
  display: flex;
  align-items: center;
  justify-content:center ;
  flex-direction: column;
}

.heading {
    font-family: $main-font1;
    font-style: $main-font-style;
    font-weight: 700;
    font-size: 48px;
    line-height: 26px;
    letter-spacing: 4.8px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 30px;
}

form{
    background-color: white;
    width: 653px;
    height: 63px;
    display: flex;
}

input {
    flex:1;
     border: none;
     outline: none;
    }
    
button {
    background-color:rgb(44, 44, 160);
    padding: 10px 50px;
    border:white;
    outline: none;
    letter-spacing: 1px;
    margin: 1px;
    color: white;
}

button:hover {
    background-color: rgb(107, 107, 156);
}

.fa-magnifying-glass {
    margin:10px;
}

.container2 {
    width:100%;
    max-width: 1770px;
    min-height: 80px;
    background: #5474FD;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
}

.listed {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    word-break: normal;
}

.header{
    width: 186px;
    height: 20px;
    left: 321px;
    top: 770px;
    font-family:$main-font1;
    font-style: $main-font-style;
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.list{
    padding: 10px;
    width: 126px;
    height: 26px;
    font-family: 'Aleo';
    font-style: $main-font-style;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.container3 {
    width:100%;
    max-width: 1773px;
    height:100%;
    min-height: 340px;
    background: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
}

.search {
    padding: 20px;
    width: 353px;
    height: 163px;
    display: flex;
    align-items: center;
    flex-direction: column;
}



  .icon1 {
    width: 99px;
    height: 99px;
    color: blue;
    align-items: center;
}
  
  .icon2{
    width: 62px;
    height: 63px;
    color:red;
}

  .icon3 {
    width: 99px;
    height: 99px;
    color:blue;
}

.text {
    width: 230px;
    height: 26px;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 26px;
    display: flex;
    text-align: center;
    color: #E8E8E8;
  }

.container4 {
    width:100%;
    max-width: 1770px;
    height:100%;
    min-height: 700px;
    display: flex;
    align-items: center;
    justify-content:center;
    background: url(../images/Rectangle.png);
}

.background {
    width: 540px;
    height: 371px;
    align-items: center;
    background: #232323;
    mix-blend-mode: normal;
    opacity: 0.9;
    margin-right:60px;
}

.spain {
    width: 80px;
    height: 26px;
    font-family:$main-font1;
    font-style: $main-font-style;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 1.5px;
    color: #E8E8E8;
    margin: 30px;
}

.grand {
    width: 241px;
    height: 26px;
    font-family: $main-font1;
    font-style: $main-font-style;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin:30px;
}

.para {
    width: 508px;
    height: 78px;
    font-family: $main-font1;
    font-style: $main-font-style;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #E8E8E8;
    margin: 30px;
}

.book {
    width: 228px;
    height: 63px;
    font-family: $main-font2;
    font-style: $main-font-style;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 30px;
}

.book:hover {
    background-color:rgb(119, 119, 138);
}

.container5 {
    width:100%;
    max-width: 1770px;
    height:100%;
    min-height: 700px;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    background: url(../images/Rectangle1.png);
}

.container6 {
    width:100%;
    max-width: 1770px;
    height:100%;
    min-height: 731px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url(../images/Rectangle2.png);
}

.tourist{
    width: 390px;
    height: 26px;
    font-family: $main-font2;
    font-style: $main-font-style;
    font-weight: 400;
    font-size: 36px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin: 50px;
}

.background1 {
    width:100%;
    max-width: 668px;
    height: 287px;
    align-items: center;
    background: #333333;
}

.tourist_say {
    display: flex;
    
}

.quote {
    display: flex;
}
.heading1 {
    width: 150px;
    height: 26px;
    font-family: $main-font1;
    font-style: $main-font-style;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    color: #FEFEFE;
    margin: 30px;

}

.text1 {
    width: 581px;
    height: 165px;
    font-family: $main-font2;
    font-style: $main-font-style;
    font-weight: 400;
    font-size:12px;
    line-height: 26px;
    color: #FEFEFE;
    margin: 30px;
}


